.app {
  padding: 2rem;
}

.form input {
  width: 20rem;
  padding: 1rem;
}

.form button {
  padding: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.autosuggestions {
  margin-top: 2rem;
  border: 1px solid gray;
  padding: 1rem;
  width: 50rem;
  min-height: 20rem;
}


